# Ignore the .vscode directory
.vscode/

# Ignore everything inside any `src` directory
**/src/*

# Except for specific files in any `src` directory
!**/src/**/*.cpp
!**/src/**/*.h
!**/src/Makefile

# Ignore any .txt files nested anywhere
**/*.txt
